.Error-dialog {
  font-size: 0.6rem;
  padding: 0.2rem;
  background: #FF4955;
  width: 85vw !important;
  color: #FFFFFF;
  margin: 0.4rem auto -0.6rem auto;
  border-radius: 2px;
  text-align: center;
}
