.Dropdown-menu {
  box-shadow: 0 3px 12.32px 3.68px rgba(56, 126, 191, 0.09);
  margin: 0.8rem 0;
  background-color: white;
  margin-left: 2.5%;
  min-height: 42px;
  font-size: 0.9rem;
  border-radius: 2vw;
  -webkit-box-shadow: 0 3px 12.32px 3.68px rgba(56, 126, 191, 0.09);
  margin-top: 1vw;
  width: 95%;
}

.Dropdown-heading-text {
  float: left;
  padding: 1.1rem 1.2rem;
  font-weight: 600;
  font-size: 3.3vw;
  color: #373D54;
}

.Dropdown-heading-icon {
  float: right;
  padding: 1rem 1.2rem;
  color: #3c3c3c;
  font-size: 3.3vw;
  color: #373D54;
}

.Dropdown-heading-box {
  min-height: 2.99rem;
}

.fa-chevron-down {
  color: #4b4b4b;
}
