.Image-menu-card-list {
  border-radius: 2vw;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 3px 12.32px 3.68px rgba(56, 126, 191, 0.09);
  box-shadow: 0 3px 12.32px 3.68px rgba(56, 126, 191, 0.09);
  margin-top: 2vw;
  height: 31vw;
  width: 95%;
  margin-left: 2.5% !important;
  position: relative;
}

.Image-menu-card-list .Image-box {
  display: inline-block;
  width: 25vw !important;
  height: 25vw !important;
  background: #40434f;
  background-size: cover;
  float: left;
  border-radius: 2.0vw !important;
  margin: 3vw 2.9vw !important;
}

.Menu-details {
  display: inline;
  text-align: left;
  font-size: 0.8rem;
}
.Image-menu-card-list .Plus-box{
  margin-right: -0.2vw;
}
.Image-menu-card-list .Minus-box{
  margin-left: -0.2vw;
}

.Image-menu-card-list .Item-name {
  font-weight: 600;
  font-size: 3.39vw;
  color: #424243;
  padding-top: 3.6vw;
}

.Image-menu-card-list .Item-description {
  font-size: 2.7vw;
  color: #3c3c3c;
  padding-top: 0.4rem;
}

.Image-menu-card-list .Item-price {
  float: left;
  padding-top: 1.3rem;
  font-size: 2.9vw;
  color: #3c3c3c;
}

.Image-menu-card-list .Item-meta {
  float: right;
  padding: 15px 14px;
}

.Image-menu-card-list .Add-item-button{
  text-align: right;
  padding: 0.5rem;
  position: absolute;
  border: 2vw;
  right: 2vw;
  bottom: 3vw;
}

.Image-menu-card-list .Whitespace-box{
  width: 6vw;
  height: 100%;
  float: left;
}
