.Menu-button {
  font-size: 0.70rem;
  min-width: 16.2vw;
  min-height: 2.6vw;
  z-index: 5 !important;
  position: absolute;
  right: 3vw;
  bottom: 5vw;
  padding: 3.6vw 5vw;
  background: #ffffff;
  border: 2px solid #C4C4D6 !important;
  color: #5c6af7;
  zoom: 0.9 !important;
}

.Menu-button:focus {
  box-shadow: 0 3px 12.32px 3.68px rgba(26, 25, 25, 0.1);
  outline: none;
}
.Category-box{
  width: 47%;
  float: right;
  position: fixed;
  border-radius: 8px;
  background-color: rgb(250, 251, 255);
  /* box-shadow: 0px 3px 36.32px 700px rgba(52, 60, 67, 0.69); */
  bottom: 33.5vw;
  padding: .6rem 0;
  max-width: 55vw;
  max-height: 41vw;
  overflow: scroll;
  color: #67677f;
  z-index: 4;
  right: 8vw;
}

.Category-overlay {
  position: fixed;
  background: rgba(37, 35, 39, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  overflow: scroll;
}

.Overflow-content {
  width: 100%;
  height: 5921%;
  top: 2000vw;
}

.Menu-button-icon {
  float: left;
  font-size: .8rem !important;
  margin: .1vh 0.2rem 0 0 !important;
}

.Button-text {
  float: right;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0.6rem 1.1rem;
  font-size: 0.8rem;
  text-align: left;
}

.Selected{
  color: #f53864;
}
