
.Review {
  padding-bottom: 32vw;
  position: relative;
  height: 100%;
}

.Review .Inner-Container {
  margin: 0 auto;
  width: 92%;
  padding: 26vw 0 0 0;
}
.Review  .Container {
  background: white;
  padding-bottom: 18vw;
}

.Review .Simple-item-menu-card {
  margin-left: 0vw;
  position: relative !important;
  margin-bottom: 3vw;
  border: 1px solid #d9dbe1;
  padding: 2vw 5vw;
  height: 23vw;
  max-width: 87%;
  background: white;
  border-radius: 1.5vw;
}

.Review .Simple-item-name{
  font-weight: 600;
  font-size: 3.8vw;
  color: #5b5959;
  width: 90%;
  padding-top: 0.4rem;
}

.Review .Round-container{
  position: absolute;
  width: 100%;
  background: #f4f5f9;
  z-index: 2;
  border-top-left-radius: 2.13vw;
  border-top-right-radius: 1.95vw;
  margin-top: 17.24vw;
  padding-bottom: 34vw;
}

.Review .Top-bar{
  background-size: cover !important;
  color: #fff;
  height: 19.55vw;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 1;
}


.Review .Simple-item-price {
  width: 70%;
  position: absolute;
  bottom: 11px;
}

.Review .Video{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -17.77vw;
  height: 138.66vw;
}

.Review .Topbar-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 142.22vw;
  z-index: 5;
}

.Review .Search, .Review .User-account {
  float: right;
}

.Cafe-logo {
  float: left;
  font-weight: 600;
  margin-left: 5.4vw;
  margin-top: 7.28vw;
  font-size: 3.73vw;
  width: 58%;
}

.Review .Bottom-float-button {
  position: fixed;
  width: 102%;
  bottom: 7.37vw;
  z-index: 10;
  zoom: .9;
  margin: 0 auto;
  font-size: 2vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.Review .Button{
  font-size: 3.6vw !important;
  margin-top: 3vw;
}

.Total{
  float: left;
  font-size: 3vw;
  margin-top: 3vw;
  margin-left: 1.vw;
  color: #4C4C4C;
}

.Total-price{
  float: right;
  font-size: 4vw;
  margin-top: 3vw;
  margin-right: 3vw;
  color: #4C4C4C;
}

.Total-bar{
  border-top: 1px solid #ededed;
}

.Review .User-icon {
  height: 5.33vw;
}

.Review .Search-icon {
  height: 4.44vw;
}

.Review .User-account {
  margin-right: 7.28vw;
  margin-top: 6.57vw;
}

.Review .Search {
  margin-right: 6.57vw;
  margin-top: 7.02vw;
}


.Review .Category-float-button {
  position: fixed;
  width: 95%;
  bottom: 16.3vw;
  text-align: right;
  margin-right: 5.2vw;
  z-index: 10;
}



.Review .Featured-menu {
  float: left;
  font-size: 3.62vw;
  font-weight: 600;
  color: #474747;
  margin: 0 auto;
  margin-left: 29vw;
}

.Review .Initial-box {
  margin-top: 6.04vw;
  height: 5.33vw;
  margin-bottom: 4.8vw;
}

.Review .Veg-filter-box {
  float: right;
  margin-right: 6.4vw;
  top: -.35vw;
  position: relative;
}

 .Item-total-bar{
  width: 95%;
  margin-left: 3%;
  zoom: 1.3;
  padding-bottom: 8vw;
}

.Tax-total-bar {
  width: 95%;
  margin-left: 3%;
  zoom: 1.2;
  padding-bottom: 8vw;
}

.Tax-total-bar .Total, .Item-total-bar .Total{
  font-size: 2vw !important;
}

.Tax-total-bar .Total-price, .Item-total-bar .Total-price{
  font-size: 2.6vw !important;
}


.Review .Item-heading{
  color: #5b595d;
  margin-bottom: 4vw;
  margin-left: 2vw;
}

.Empty-cart-box {
  height: 100%;
  position: absolute;
  width: 100%;
  background: white;
}

.Empty-cart {
  width: 59%;
  top: 40%;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
}
