.Overlay {
  position: fixed;
  top: 0;
  background: rgba(47, 44, 58, 0.8);
  width: 100%;
  height: 100%;
  color: #4c4e51;
  z-index: 12 !important;
  font-size: 0.8rem;
  padding: 0 !important;
  max-width: 400 !important;
}

.Customization-add-button .Button {
  margin-top: 0.6rem !important;
  border-width: 2px !important;
  font-size: 3.3vw;

}

.Overlay .InputField{
  padding: 4.33vw;
  width: 76.66vw;
}
.Overlay-box {
  width: 100%;
  margin: 0 auto;
  border-top-right-radius: 4vw;
  border-top-left-radius: 4vw;
  background: white;
  bottom: 0;
  max-width: 100% !important;
  padding-bottom: 7vw;
  position: fixed;
}

.Overlay-heading {
  font-weight: 600;
  text-align: center;
  margin-bottom: 12px;
  margin-top: 0;
  background: #F3F2F6;
  border-top-right-radius: 4vw;
  border-top-left-radius: 4vw;
  padding: 4.6vw;
  font-size: 3.8vw;

}

.Customization-name {
  font-weight: 600;
  margin-bottom: .4vw;
  font-size:3.5vw;
  padding-left: 0.3rem;
  margin-top: 2vw;
}

.Additional-remarks {
  font-weight: 600;
  margin-bottom: 5vw;
  font-size: 3.5vw;
  padding-left: 7.5vw !important;
  margin-top: 2vw;
}

.Radio-button {
  margin-right: 0.2rem;
  float: left;
  width: 100%;
  /*margin-left: 2vw;*/
  font-size: 3.4vw;
  margin-top: 2vw;
}

.Customization-control {
  min-height: 1rem;
  padding: 1vw 1vw;
  overflow: hidden;
}

.Customization-add-button {
  width: 112%;
  margin-left: -6%;
}

.radio-inline{
  width: 100%;
}

.inline{
  display: inline-block;
}

.radio{
  position:relative;
}

.radio span{
  position:relative;
  padding-left:20px;
}

.radio span:after{
  content:'';
  width:15px;
  height:15px;
  border:3px solid;
  position:absolute;
  left:0;
  top:1px;
  border-radius:100%;
  -ms-border-radius:100%;
  -moz-border-radius:100%;
  -webkit-border-radius:100%;
  box-sizing:border-box;
  -ms-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.radio input[type="radio"]{
  cursor: pointer;
  position:absolute;
  width:100%;
  height:100%;
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}


.Close{
  float: right;
  right: 9vw;
  position: absolute;
  top: 5vw;
}


.Checkbox-label{
  margin-left: 8px;
}
.Customization-container li {
  margin: 20px 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
