.Button {
  box-shadow: 0 3px 12.32px 3.68px rgba(26, 25, 25, 0.15);
  color: #fff;
  text-align: center;
  padding: 5.33vw !important;
  width: 76.6vw !important;
  font-size: 3.6vw;
  font-weight: 400;
  position: relative;
  border: 0 !important;
  margin: 0 auto;
  display: block;
  width: 87% !important;
}

.Next-icon {
  float: right;
  height: 3.55vw;
  margin-top: .711vw;

  position: absolute;
  right: 8.177vw;
}

.Button-right {
  text-align: right;
  padding-right: 1rem;
}

.Button:focus {
  box-shadow: 0 3px 12.32px 3.68px rgba(26, 25, 25, 0.1);
  outline: none;
}

.Center {
  margin: 0 auto;
}

.Button .spinner{
  position: absolute;
  left: 12px;
  top: 50%;
  height: 15px;
  transform: translateY(-50%);
}
.Blue {
  background: #6199ff;
  background-image: -moz-linear-gradient( 107deg, rgb(71, 85, 220) 0%, rgb(77,139,252) 100%) !important;
  background-image: -webkit-linear-gradient( 107deg, rgb(71, 85, 220) 0%, rgb(77,139,252) 100%) !important;
  background-image: -ms-linear-gradient( 107deg, rgb(71, 85, 220) 0%, rgb(77,139,252) 100%) !important;

}

.Red {
  background-image: -moz-linear-gradient( -73deg, rgb(255,131,102) 0%, rgb(255,90,112) 100%);
  background-image: -webkit-linear-gradient( -73deg, rgb(255,131,102) 0%, rgb(255,90,112) 100%);
  background-image: -ms-linear-gradient( -73deg, rgb(255,131,102) 0%, rgb(255,90,112) 100%);
}

.Black {
  background-image: -moz-linear-gradient( 107deg, rgb(56,57,59) 0%, rgb(33,33,34) 100%);
  background-image: -webkit-linear-gradient( 107deg, rgb(56,57,59) 0%, rgb(33,33,34) 100%);
  background-image: -ms-linear-gradient( 107deg, rgb(56,57,59) 0%, rgb(33,33,34) 100%);
}

.Border {
  border: 2.15px solid;
  border-radius: 5px;
}

.Button-icon {
  float: left;
  font-size: 1.7rem;
  margin-top: -0.3rem;
}

.Button-text {
  float: right;
}

.Button-Inactive{
  background: #989898 !important;
}
