.InputField {
  border: 1.2px solid #707070;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  color: #414348;
  font-size: 3.02vw;
  text-align: center;
  margin: 0 auto;
  position: relative;
  display: block;
  text-transform: UpperCase;
  box-shadow: none !important;
  outline: none !important;
  -webkit-appearance: none;
  padding: 4.73vw;
  max-width: 77.26vw;
  font-weight: 400;
  width: 77.1vw;
}

.InputField::placeholder {
  color: #7C7F89;
  font-weight: 400;
  text-transform: none !important;
}

.InputField:focus {
  border-color: #ff5a70;

  outline: none;
}

@media screen and (max-width: 350px) {
  .InputField {
    padding: 1.05rem 1.25rem;
  }
}
