.Menu .Round-container {
  position: absolute;
  width: 100%;
  background: #F4F5F9;
  z-index: 2;
  border-top-left-radius: 2.13vw;
  border-top-right-radius: 1.95vw;
  margin-top: 17.24vw;
  padding-bottom: 38vw;
}
.Menu {
  font-family: 'Panton', sans-serif;
  padding-bottom: 25vw;
  position: relative;
  height: 100%;
}

.Menu .Top-bar{
  background-size: cover !important;
  color: #fff;
  height: 19.55vw;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.Background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 19.22vw;
  z-index: 0;
  overflow: hidden;
  /* background: #ff5678; */
  background-image: -webkit-linear-gradient( 94deg, rgb(255, 109, 102) 0%, rgb(236, 47, 125) 100%);
  /*background-image: -webkit-linear-gradient( 94deg, rgb(161, 102, 255) 0%, rgb(60, 108, 243) 100%);*/
  background-image: -webkit-linear-gradient( 274deg, rgb(255, 93, 153) 0%, rgb(245, 76, 76) 100%);
}

.Menu .Video{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -17.77vw;
  height: 138.66vw;
}

.Menu .Background-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 142.22vw;
  background: rgba(26, 26, 29, 0);
  z-index: 1;
}

.Menu .Topbar-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 142.22vw;
  z-index: 5;
}

.Menu .Search, .Menu .User-account {
  float: right;
}

.Menu .Cafe-logo {
  float: left;
  font-weight: 600;
  margin-left: 6.4vw;
  margin-top: 7.28vw;
  font-size: 3.73vw;
}

.Menu .Bottom-float-button {
  position: fixed;
  width: 102%;
  bottom: -1.63vw;
  z-index: 9;
  margin: 0 auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.Menu .User-icon {
  height: 5.33vw;
}

.Menu .Search-icon {
  height: 4.44vw;
}

.Menu .User-account {
  margin-right: 7.28vw;
  margin-top: 6.57vw;
}

.Menu .Search {
  margin-right: 6.57vw;
  margin-top: 7.02vw;
}

.Error .Button {
  max-width: 36vw;
  padding: 4.05vw !important;
  border-radius: 2px;
  box-shadow: initial;
  background: #3f82fd;
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%);
  left: 50%;
  font-size: 2.8vw;
}

.Error .Image-top {
  top: 41%;
  width: 52vw;
  text-align: center;
}

.Loader-image {
  width: 54%;
  margin-bottom: 6vw;
}

.No-internet{
  text-align: center;
  font-size: 4.1vw;
  margin-top: -3vw;
  font-weight: 600;
  color: #534f4d;
}

.Image-box{
  background-size: cover !important;
}

.Error .Arrow-right{
  display: none;
}

.Menu .Category-float-button {
  position: fixed;
  width: 95%;
  bottom: 16.3vw;
  text-align: right;
  margin-right: 5.2vw;
  z-index: 10;
}

.Menu .Menu-button {

  border-radius: 11.5vw !important;
  zoom: .9;
  font-weight: 600;
}

.Menu .Featured-menu {
  float: left;
  font-size: 3.62vw;
  font-weight: 600;
  color: #474747;
  margin-left: 3.15vw;

}

.Menu .Initial-box {
  margin-top: 6.04vw;
  height: 5.33vw;
  margin-bottom: 4.8vw;
}

.Menu .Veg-filter-box {
  float: right;
  margin-right: 6.4vw;
  top: -0.35vw;
  position: relative;
}

.Menu .Featured-container {
  padding: 0px 2.33vw;
  display: flex;
  flex-wrap: wrap;
}

.Custimzation-box .Additional-remarks {
  padding-left: 0;
}

.Custimzation-box .Customization-container {
  padding: 1vw 6vw;
}

.Section-heading {
  text-align: left;
  margin: 5vw 5vw;
  font-weight: 600;
  color: #191e27;
  font-size: 4vw;
}

.Veg-text {
  font-size: 3.11vw !important;
  top: -1.133vw !important;
  position: relative;
  margin-right: 3.55vw !important;
  color: #5b5b5b !important;
  font-weight: 400 !important;
}

.Loading {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Image-top {
  position: absolute;
  top: 50%;
  width: 22vw;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
}

.Loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
}

.No-internet-icon {
  width: 30vw;
  margin-bottom: 10vw;
}

.Error-404 {
  width: 50vw;
  margin-bottom: 13vw;
}
