.Next-button {
  margin-top: 1rem;
}

.Table-code .Cafe-logo {
  padding: 1.5rem 0;
}

.Table-code {
  position: relative;
  height: 100%;
}

.Table-code .Background {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
  height: 100%;
  overflow: hidden;
  background-image: -webkit-linear-gradient( 98deg, rgb(255, 90, 90) 0%, rgb(255, 84, 138) 100%);
  background-image: -ms-linear-gradient( 98deg, rgb(255, 90, 90) 0%, rgb(255, 84, 138) 100%);
  background: url(https://i.imgur.com/GYdgmVw.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 14vw;
}


.Table-code .Background-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(36, 49, 104, 0.68);
  z-index: 1;
}
.Table-code .Topbar-content {
  position: absolute;
  width: 100%;
  height: 142.22vw;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 14vw;
}

.Sveet-logo {
  padding: 16vw 0 1% 0;
}

.Table-code .Sveet-logo-image {
  height: 7.13vw;
}

.Table-code .Instruction {
  padding: 0.5rem 0;
  font-size: 1.2rem;
  font-family: "Proxima Nova", sans-serif;
  color: rgb(87, 87, 87);
  line-height: 1.2;
  font-weight: 600;
}

.Table-code .Or-text {
  font-size: 3.55vw;
  text-align: center;
  padding: 5.33vw 0 4.8vw 0;
  color: rgb(103, 103, 103);
}

.Table-code .Container {
  text-align: center;
  position: relative;
  top: 45%;
  width: 97% !important;
  -webkit-transform: translateY(-57%);
  -ms-transform: translateY(-57%);
  transform: translateY(-50%);
  margin: 0 auto;
  padding: 0 !important;
}

.Table-code .Error-Input .InputField {
  border: 1px solid #f52250 !important;
}

.Table-code .Qr-code{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #428aff;
  z-index: 11;
  text-align: center;
}

.Table-code .Camera-icon{
  position: relative;
  width: 30%;
  height: 30%;
  top: 35%;
}

.Table-code .Logo-text {
  font-size: 3.9vw;
  font-weight: 600;
  margin-top: 2.03vw;
  color: #5f5f5f;
}

.Table-code .QR-Scanner-text {
  font-size: 4.28vw;
  font-weight: 600;
  margin-top: 2.13vw;
  color: #5f5f5f;
}

.Table-code .QR-Scanner {
  border: 2.672px solid #535258;
  width: 38.22vw;
  height: 38.22vw;
  margin: 7.22vw auto 3.55vw auto;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.Table-code .Qr-Click-Scanner{
  border: 2.672px solid #2D5EAD;
}

.Table-code .Qr-scanner-component div{
  box-shadow: none !important;
  border: none !important;
}

.Table-code .Qr-scanner-component video{
  position: absolute;
  overflow: hidden;
  width: 150% !important;
  height: 150% !important;
  margin-left: -25% !important;
  margin-top: -25% !important;
}

.Table-code .Qr-Section {
  margin-top: 17%;
}

.Table-code .Top-bar {
  background-size: cover !important;
  color: #fff;
  position: relative;
  height: 124.44vw;
  text-align: center;
  overflow: hidden;
}

.Table-code .Action-container {
  border-top-left-radius: 0.1rem !important;
  background: none;
  border-top-right-radius: 0.1rem !important;
  position: absolute;
  width: 100%;
  z-index: 10;
  bottom: 0;
  padding-bottom: 10vw;
}

.Table-code .Scanner-stick {
  height: 2px;
  position: absolute;
  background: #4b7df4;
  z-index: 1;
  width: 10.4rem;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
  animation: move 2s infinite;
}

@keyframes move {
  0% { top: -0.5rem;}
  50% { top: 8.9rem;}
  100% {top: -0.5rem;}
}


@media screen and (max-aspect-ratio: 6s/9) {
  .Table-code .Action-container {
    background: #fafbff;
  }
}

@media only screen and (min-height: 700px) {
  body {
    background-color: #fafbff;
  }
  .Sveet-logo {
    padding: 26vw 0 1% 0;
  }
  .Table-code .Action-container {
    padding-bottom: 20vw;
  }
}

