.Simple-item-menu-card {
  width: 90%;
  margin-left: 6vw;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 6.5vw;
  position: relative !important;
  margin-bottom: 1vw;
}

.Simple-menu-details {
  display: inline;
  text-align: left;
  font-size: 0.8rem;
}

.Simple-add-item-button {
  padding: .3vw;
  display: inline-block;
  float: right;
  margin-right: 1.2vw;
  margin-top: -3.4vw;
  max-width: 25%;
  position: absolute;
  right: 0;
  bottom: 4vw;
}

.Simple-item-name {
  font-weight: 600;
  font-size: 3.3vw;
  color: #3c3c3c;
  width: 90%;
  padding-top: 0.6rem;
}


.Simple-item-menu-card .Minus-box{
  margin-left: -0.2vw;
}

.Simple-item-description {
  font-size: 2.9vw;
  color: #3c3c3c;
  padding: 0.4rem 0;
  max-width: 62%;
  display: inline-block;
}

.Simple-menu-bottom-bar {
  display: inline-block;
  float: right;
  width: 100%;
}

.Simple-item-price {
  float: left;
  width: 30%;
  font-size: 3.54vw;
  color: #585757;
  margin-right: 1.5rem;
}

.Simple-item-meta {
  position: absolute;
  right: 2.5vw;
  top: 2.9vw;
}



.Remove {
  color: #fd2b51;
  bottom: -5px;
  position: relative;
  right: -9px;
}
