.Add-button {
  font-weight: 600 !important;
  border-radius: 0.8vw;
  border: 1px solid #d4dcf3 !important;
  color: #4f7bfd !important;
  text-align: center;
  position: relative;
  width: 16vw !important;
  white-space: nowrap;
  overflow: hidden;
}

.Add-box{
  padding: 1.6vw 0;
  width: 10vw;
  display: inline-block;
  font-size: 2.133vw !important;
}

.Item-count {
  border: 1px solid #D3D5DC !important;
  background: none !important;
  color: #4f7bfd !important;
  padding: 0 !important;
  text-align: center;
  font-weight: 600;
}

.Add-box-button {
  display: inline-block;
  font-size: 2.133vw !important;
  color: white !important;
  background: #d4dcf3 !important;
  width: 5vw;
  padding: 1.6vw 0.7vw;
}


.Plus-box {
  display: inline-block;
  background: #d4dcf3 !important;
  border-top-right-radius: .533vw !important;
  border-bottom-right-radius: .533vw !important;
  width: 4.25vw;
  font-size: 2.133vw !important;
  padding: 1.6vw 0.2vw;
}

.Minus-box {
  display: inline-block;
  font-size: 2.133vw !important;
  background: #d4dcf3 !important;
  border-top-left-radius: .533vw !important;
  border-bottom-left-radius: .533vw !important;
  width: 4.25vw;
  padding: 1.6vw 0.2vw;
}

.Item-count-number {
  display: inline-block;
  text-align: center;
  font-size: 2.133vw !important;
  width: 7vw;
}

.Item-box{
  width: 16vw !important;
}

.fa-plus{
  color: #4f7bfd;
}
.fa-minus{
  color: #4f7bfd;
}
