.Next-Button {
  box-shadow: 0 3px 12.32px 3.68px rgba(26, 25, 25, 0.14);
  padding: 1.2rem 1rem 2.5rem 1rem;
  color: white;
  text-align: center;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}

.Button:focus {
  box-shadow: 0 3px 12.32px 3.68px rgba(26, 25, 25, 0.1);
  outline: none;
}

.First-section {
  display: inline-block;
  float: left;
}

.Second-section {
  float: right;
  font-weight: 500 !important;
  padding: 3.81vw 7vw !important;
  background-image: -webkit-linear-gradient( 98deg, rgb(255, 90, 90) 0%, rgb(255, 84, 138) 100%);
  color: #fafbff;
  border-radius: 1.3vw;
  margin-right: 7vw;
}

.Border {
  border: 3.15px solid;
  border-radius: 4px;
}

.Button-icon {
  float: left;
  font-size: 1.2rem;
  margin-top: 0;
}

.Button-text {
  float: right;
}

.Currency {
  font-size: 0.5rem;
}

.fa-arrow-right {
  margin-left: 0.6rem;
}

.Price {
  top: 6.1vw;
  position: absolute;
  font-weight: 500 !important;
  font-size: 3.3vw;
  color: #515151;
}

.Next-Button {
  width: 100% !important;
  border: 0 !important;
  margin: 0 auto !important;
  display: inline-block !important;
  font-size: 0.83rem;
  max-width: 1000px;
  padding: 2.4vw !important;
  background: none !important;
  box-shadow: 0 3px 1.32px 4.68px rgba(56, 126, 191, 0.19) !important;

  background-color: #fafbff !important;
  color: #ff5677;
}

.Next-Button:focus {
  outline: 0;
}

.Button-icon {
  float: left !important;
  font-size: 1rem !important;
  margin-top: 3.8vw !important;
  margin-right: 1rem !important;
  margin-left: 6vw;
}
