.Cover-slider {
  border-radius: 1.6vw;
  background-size: cover;
  margin: 3.73vw auto;
  height: 50.64vw;
  background: #f4f5f9;
  background-size: cover !important;
  width: 95%;
  overflow: hidden;
}
