.OTP-Resend {
  width: 80vw;
  text-align: center;
  padding: 3vw;
  margin: 2vw auto 2vw auto;
  color: #3f6de6;
}

.OTP-Retry-Invalid {
  width: 80vw;
  text-align: center;
  padding: 3vw;
  margin: 2vw auto 2vw auto;
  color: #9AA29E;
}
