.Thanks-message {
  margin: 4vh 2vh;
}

.Feedback-message{
  font-weight: 600;
  font-size: 4.1vw;
}

.Tick-mark{
  background: url(https://cdn.dribbble.com/users/555872/screenshots/2182807/check.gif);
  height: 10vh;
  margin: 0 auto;
  background-position: 50% 50%;
  border-radius: 3vw;
  background-size: 56%;
  margin-top: 2vw;
  margin-bottom: 0vw;
  background-repeat: no-repeat;
}


.Pay-cash{
  width: 13vh;
  background: url(https://cdn.dribbble.com/users/146798/screenshots/4221894/money-return.png);
  height: 10vh;
  margin: 0 auto;
  background-position: 46% 48%;
  border-radius: 3vw;
  margin-top: -3vw;
  margin-bottom: 7vw;
  background-size: 186%;
}

.fa-star{
  font-weight: 900;
  font-size: 4.6vw;
  margin-top: 3vw;
  color: #D3D3D3;
  margin-right: 1.3vw;
  margin-left: 1.3vw;
  margin-bottom: 7vw;
}

.selected{
  color: #4b7bf2;
}
