.Cafe-logo {
  padding: 0 0;
}
.Order-info-screen{
  padding-bottom: 25vw;
  position: relative;
  height: 100%;
}

.Order-confirmation {
  color: #505050;
  margin: 9vw;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}


.Order-contribution-text {
  font-size: 0.9rem;
  margin: 2.5rem 0 0 0;
}

.Order-info-screen .Order-Container {
  text-align: center;
  -ms-transform: translate(-50%, -50%) !important;
  width: 100% !important;
  background: white !important;
  max-width: 442px !important;
  padding-top: 2vw !important;
  border-radius: 2vw;
  padding-bottom: 8vw;
}

.fa-credit-card,
.fa-utensils {
  font-size: 1.3rem;
  margin-top: 0.1rem;
  margin-right: 1.2rem;
}

.Order-info-screen .Inner-Container{
  text-align: center;
  margin: 0 auto;
  width: 85%;
  zoom: 0.9;
}

.Order-info-screen .Action-container .Button{
  box-shadow: none !important;

}
.Order-info-screen .Simple-item-menu-card{
  width: 100%;
  margin-left: 0vw;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 6.5vw;
  position: relative !important;
  margin-bottom: 1vw;
}

.Order-info-screen .Overlay-box{
  text-align: center;
}

.Order-info-screen .Round-container {
  position: absolute;
  width: 100%;
  background: #f4f5f9;
  z-index: 2;
  border-top-left-radius: 2.13vw;
  border-top-right-radius: 1.95vw;
  margin-top: 17.24vw;
}

.Order-info-screen .Top-bar{
  background-size: cover !important;
  color: #fff;
  height: 19.55vw;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.Order-info-screen .Topbar-content {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.Order-info-screen .Search, .Order-info-screen .User-account {
  float: right;
}

.Order-info-screen .Bottom-float-button {
  position: fixed;
  width: 102%;
  bottom: 7.37vw;
  z-index: 10;
  zoom: .9;
  margin: 0 auto;
  font-size: 2vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.Order-info-screen .Button{
  font-size: 3.6vw !important;
  margin-top: 3vw;
}

.Total-bar{
  width: 95%;
  margin-left: 3%;
  zoom: 1.3;
  padding-bottom: 12vw;
}

.Total{
  float: left;
  font-size: 3vw;
  margin-top: 3vw;
  margin-left: 1.vw;
}

.Total-price{
  float: right;
  font-size: 4vw;
  margin-top: 3vw;
  margin-right: 3vw;

}



.Preparing-icon{
  height: 41vw;
  margin: 0 auto;
  background-size: 358%;
  background-position: 50%;
  margin-top: -5vw;
  padding-top: 1vw;
  overflow: hidden;
}

.Preparing-icon-image{
  margin-top: -10vw;
}

.Order-info-screen .Category-float-button {
  position: fixed;
  width: 95%;
  bottom: 16.3vw;
  text-align: right;
  margin-right: 5.2vw;
  z-index: 10;
}

.Order-info-screen .Order-info-screen-button {
  font-size: 0.70rem;
  width: 12.6vw;
  height: 2.7vw;
  background: #FFFFFF;
  border: 2px solid #fff !important;
  color: #ff5677;
  border-radius: 2.5vw !important;
  zoom: .9;
  font-weight: 600;
}

.Order-info-screen .Featured-menu {
  float: left;
  font-size: 3.62vw;
  font-weight: 600;
  color: #474747;
  margin: 0 auto;
  margin-left: 29vw;
}

.Order-info-screen .Initial-box {
  margin-top: 6.04vw;
  height: 5.33vw;
  margin-bottom: 4.8vw;
}

.Order-info-screen .Veg-filter-box {
  float: right;
  margin-right: 6.4vw;
  top: -.35vw;
  position: relative;
}

.Order-info-screen .Inner-container{
  padding: 0px 5.33vw;
  display: flex;
  flex-wrap: wrap;
}

.Order-info-screen .Action-container{
  margin: 7vw 0vw !important;
}

@media only screen and (min-height: 700px) {
  .Order-info-screen .Order-Container {
    height: 800px;
  }
}
