.Grid-Card {
  display: flex;
}

.Image-menu-card {
  border-radius: 1.778vw;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 3px 12.32px 3.68px rgba(63, 162, 255, 0.11);
  box-shadow: 0 3px 12.32px 3.68px rgba(63, 162, 255, 0.11);
  margin-top: 0 !important;
  height: 49.66vw;
  width: 46.33vw;
  margin-left: 0 !important;
  margin-bottom: 2vw;
}

.Grid-Card .Image-box {
  margin: 0 !important;
  display: block;
  background: #f4f5f9;
  overflow: hidden;
  width: 46.13vw !important;
  height: 26.488vw !important;
  border-top-left-radius: 1.6vw !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 1.6vw !important;
  border-bottom-left-radius: 0 !important;
}

.Grid-Card:nth-of-type(1n) {
  margin: 0 2.2vw 1.77vw 0 !important;
}

.Grid-Card:nth-of-type(2n) {
  margin: 0 0.355vw 1.77vw 0 !important;
}
.Image-box {
  display: inline-block;
  width: 85px !important;
  height: 85px !important;
  background-size: cover;
  float: left;
  border-radius: 2px !important;
  margin: 15px 14px 13px 15px !important;
}

.Grid-Card .Menu-details {
  display: block;
  text-align: left;
  font-size: 0.8rem;
  height: 14.2vw !important;
  position: relative;
  margin-top: 27.99vw;
}

.Add-item-button {
  text-align: right;
  padding: 0.5rem;
}

.Grid-Card .Item-name {
  padding-top: 0 !important;
  font-size: 3.23vw !important;
  margin-left: 2.48vw !important;
  position: relative !important;
  margin-top: 28.8vw !important;
  font-weight: 600;
  color: #5b5b5f !important;
  padding-right: 2vw;
}

.Grid-Card .Item-category {
  padding-top: 0 !important;
  font-size: 1.95vw !important;
  margin-left: 2.48vw !important;
  position: relative !important;
  margin-top: 0.88vw !important;
  color: #94949B !important;
}

.Item-description {
  font-size: 0.7rem;
  color: #3c3c3c;
  padding-top: 0.4rem;
}

.Grid-Card .Menu-bottom-bar{
  position: absolute;
  width: 100%;
  bottom: .88vw;
}


.Grid-Card .Item-price {
  position: absolute !important;
  left: 3.96vw !important;
  font-size: 3.31vw !important;
  color: #7a7a7a !important;
  bottom: -3.73vw !important;
}

.Grid-Card .Item-meta {
  float: right;
  padding: 0 1.77vw 0 0 !important;
  position: absolute;
  right: 0;
  top: -6vw;
}

.Grid-Card .Add-item-button{
  text-align: right;
  position: absolute;
  bottom: -6vw;
  right: 1.5vw;
}
